.courses-list{
    &-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;   
    }
    .pic-block{
        width: 50%;
        img{
            width: 100%;
        }
    }
    .courses-block{
        width: 50%;
        padding-left: 26px;
    }
    .title{
        margin-bottom: 50px;
    }
    .courses-list-item{
        cursor: pointer;
        list-style: none;
        padding: 10px 0px;
        border-bottom: 1px solid #3f3f3f;
        display: flex;
        align-items: center;
        justify-content: space-between;
        svg{
            stroke: #3f3f3f;
        }
    }
}

@media screen and (max-width: 768px) {
    .courses-list{
        .small-title{
            margin-bottom: 10px;
        }
        .title{
            margin-top: 0px;
        }
        .pic-block{
            width: 45%;
        }
        .courses-block{
            width: 55%;
        }
    }
}
@media screen and (max-width: 576px) {
    .courses-list{
        &-wrapper{
            flex-direction: column-reverse;
        }
        .small-title{
            margin-bottom: 0px;
            text-align: center;
        }
        .title{
            margin-bottom: 40px;
            text-align: center;
        }
        .pic-block{
            width: 100%;
        }
        .courses-block{
            width: 100%;
            padding: 0px;
            margin-bottom: 40px;
        }
    }
}