.price{
    .small-title{
        text-align: center;
    }
    .price-see-all{
        display: flex;
        align-items: center;
    }
    .see-all-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #3F3F3F;
        font-size: 25px;
        position: absolute;
        right: 75px;
        background-color: transparent;
        border: none;
        font-family: "AlumniSans",sans-serif;
        svg{
            stroke: #3F3F3F;
            fill: #3F3F3F;
            margin-left: 20px;
            height: fit-content;
            width: 50px;
        }
    }
    .slider-buttons{
        svg{
            cursor: pointer;
            width: 76px;
            height: 60px;
            stroke: #3C3030;
            fill: transparent;
        }
    }
    &-main-slider{
        position: relative;
        .slick-list{
            padding-top: 25px !important;
            padding-bottom: 50px !important;
        }
        &-buttons{
            .prev, .next{
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 10;
                width: min-content;
                height: 100%;
                position: absolute;
                background-color: #f3eee8;
                padding-left: 5px;
                padding-right: 5px;
            }
            .prev{
                left: -25px;
                top: 0;
            }
            .next{
                right: -25px;
                top: 0;
            }
        }
        .slick-slide{
            transform: scale(0.8);
            transition: .2s all ease;
        }
        .slick-center{
            transform: scale(1);
        }
        .slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"]  {
            transform: scale(1);
        }

        &-item{
            cursor: pointer;
            &:focus-visible{
                outline: none !important;
            }
            img{
                width: 100%;
            }
            .slider-title{
                padding: 15px;
                border-bottom: 2px solid #3C3030;
                font-size: 60px;
                text-align: center;
            }
        }
    }

    &-popup{
        .popup-content{
            padding: 0px;
            overflow: hidden;    
        }
        .popup-slider-buttons{
            display: flex;
            align-items: center;
            position: absolute;
            left: 40px;
            bottom: 15px;
            z-index: 100;
            svg{
                width: 50px;
            }
            .prev{
                margin-right: 30px;
            }
        }

        .price-slider-popup-item{
            display: flex;
            justify-content: space-between;
            position: relative;
            padding: 60px 40px;
            .slider-number{
                position: absolute;
                top: 0px;
                left: 10px;
                font-family: 'HelloBranch', sans-serif;
                font-size: 130px;
                color: #3C3030;
                opacity: 0.5;
            }
            .slider-title{
                font-size: 100px;
                text-align: center;
                margin-bottom: 40px;
            }
            .slider-left-block{
                width: 30%;
                padding-right: 30px;
                height: 100%;
            }
            .slider-right-block{
                width: 70%;
                height: 100%;
            }
            .slider-pictures{
                position: relative;
            }
            .slider-main-pic{
                img{
                    margin-top: 35px;
                    width: 100%;
                }
            }
            .slider-second-pic{
                position: absolute;
                right: -35px;
                bottom: -40px;
                width: 40%;
                img{
                    width: 100%;
                }
            }
            .price-slider-table{
                &::-webkit-scrollbar {
                    width: 5px;
                }
                &::-webkit-scrollbar-track {
                    background: #F3EEE8; 
                    border-radius: 20px;
                }
                &::-webkit-scrollbar-thumb {
                    background: #FCB2B3; 
                    border-radius: 20px;
                }
                overflow-y: scroll;
                display: block;
                height: 450px;
                border-collapse: collapse;
                padding-right: 20px;
                .first-tr{
                    border-spacing: 10px;
                }
                th{
                    text-align: center;
                    border-bottom: 3px solid #9C9C9C;
                    padding-bottom: 15px;
                }
                .name{
                    text-align: left;   
                }
                .type{
                    padding: 15px 25px 15px 0px;
                    width: 50%;
                    border-right: 1px solid;
                    border-bottom: 1px solid;
                    border-color: #9C9C9C;
                }
                .price{
                    text-align: center;
                    vertical-align: middle;
                    font-weight: 600;
                    width: 16.666%;
                    border-bottom: 1px solid;
                    border-color: #9C9C9C;
                }
                tr:last-child{
                    td{
                        border-bottom: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1460px) {
    .price{
        &-popup{
            .price-slider-popup-item{
                .price-slider-table{
                    height: 400px;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .price{
        &-popup{
            .popup-slider-buttons{
                bottom: 50px;
                left: 25px;
            }
        }
    }
}
@media screen and (max-width: 991px) {
    .price{
        .see-all-btn{
            font-size: 20px;
            svg{
                width: 40px;
            }
        }
        .slider-buttons{
            svg{
                cursor: pointer;
                width: 50px;
                height: 40px;
                stroke: #3C3030;
                fill: transparent;
            }
        }
        &-popup{
            .popup-slider-buttons{
                bottom: 30px
            }
            .price-slider-popup-item{
                padding: 30px;
                .slider-number{
                    font-size: 90px;
                }
                .price-slider-table{
                    height: 360px;
                }
                .slider-left-block{
                    width: 35%;
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .price{
        .see-all-btn{
            right: 50px;
        }
        &-main-slider{
            position: relative;

            .slick-slide,
            .slick-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"] {
                transform: scale(0.9);
                transition: transform 0.3s;
            }
            .slick-center,
            .slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"] {
                transform: scale(1);
            }
            .slick-list{
                padding-top: 25px !important;
                padding-bottom: 20px !important;
            }
            &-item{
                margin: 0px 5px;
                .slider-title{
                    font-size: 40px;
                    padding: 5px;
                }
            }
        }
        .slider-buttons{
            svg{
                width: 40;
                height: 30px;
            }
        }
        .popup-slider-buttons{
            top: auto;
            bottom: 20px;
            height: fit-content;
            left: 10px;
        }
        &-main-slider-buttons{
            .next{
                right: -5px;
            }
            .prev{
                left: -5px;
            }
        }
        &-popup{
            .price-slider-popup-item{
                .slider-title{
                    margin-bottom: 20px;
                    font-size: 80px;
                }
                .slider-left-block{
                    width: 40%;
                }
                padding: 25px 15px;
                .slider-number{
                    font-size: 60px;
                }
                .price-slider-table{
                    height: 330px;
                }
            }
        }
    }
}
@media screen and (max-width: 576px) {
    .price{
        .price-popup.show{
            width: 100%;
            height: 100%;
            max-width: none;
            max-height: none;
        }
        .price-popup-wrapper{
            position: relative;
            margin-top: 50px;
        }
        .price-see-all{
            flex-direction: column;
        }
        .see-all-btn{
            margin-top: 20px;
            position: static;
        }
        .container{
            padding: 0px;
        }
        .popup-slider-buttons{
            top: auto;
            bottom: 25px;
            height: fit-content;
        }
        
        &-main-slider{
            .slider-buttons{
                display: none;
            }
            &-item{
                margin: 0px 5px;
            }
            .slick-dots li{
                &.slick-active button:before{
                    color: #FCB2B3;
                }
                button:before{
                    opacity: 1;
                    color: #FFFFFF;
                }
                width: 5px;
            }
        }
        &-popup{
            .popup-content{
                overflow-x: hidden;
                overflow-y: scroll;
                max-width: none;
                max-height: none;
                width: 100%;
                height: 100%;
                position: relative;
            }
            .price-slider-popup-item{
                flex-direction: column-reverse;
                padding: 25px 15px;
                padding-top: 50px;
                padding-bottom: 75px;
                .slider-left-block,
                .slider-right-block{
                    width: 100%;
                    padding: 0px;
                }
                .slider-left-block{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 20px;
                }
                .slider-pictures{
                    width: 70%;
                }
                .slider-number{
                    font-size: 80px;
                }
                .price-slider-table{
                    height: 270px;
                }
                .price-slider-table{
                    padding-right: 10px;
                    .type{
                        padding: 10px 10px 10px 0px;
                        width: 65%;
                    }
                    th{
                        text-align: center;
                        border-bottom: 1.5px solid #9C9C9C;
                        padding-bottom: 15px;
                    }
                }
            }
        }
    }
}