@import './fonts.scss';
*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: "AlumniSans",sans-serif;
    background-color: #f3eee8;
    color: #3c3030;
    font-size: 25px;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background: #F3EEE8; 
        border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb {
        background: #FCB2B3; 
        border-radius: 20px;
    }
}
.bar{
    padding: 100px 0px;
    background-image: url('../assets/img/bar-bg.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 100%;
    .close{
        position: absolute;
        right: 0;
        top: 25px;
        right: 25px;
        svg{
            fill: #3c3030;
            stroke: #3c3030;
        }
    }
    .small-title{
        font-family: "AlumniSans",sans-serif;
        color: #c8aaaa;
        font-weight: 400;
        font-size: 40px;
        text-align: center;
        margin: 0;
    }
    .title-with-line span {
        width: 100%;
        height: auto;
        line-height: normal;
        padding: 0px 50px;
        white-space: nowrap;
    }
    .title-with-line {
        text-align: center;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        font-size: 130px;
        line-height: 60%;
        margin: 20px 0px;
        text-align: left;
        font-family: "HelloBranch";
        font-weight: 400;
        &::before{
            content: "";
            width: 100%;
            height: 2px;
            display: block;
            background-color: #3f3f3f;
        }
        &::after{
            content: "";
            width: 100%;
            height: 2px;
            display: block;
            background-color: #3f3f3f;
        }
    }
    .title {
        text-align: left;
        font-family: "HelloBranch";
        font-weight: 400;
    }
    .container{
        max-width: 1160px;
        margin: 0 auto;
        padding: 0px 75px;
    }
    table {
        border-collapse: collapse;
    }
    table .start-table {
        padding-bottom: 30px;
        border-bottom: 1px solid #9c9c9c;
    }
    table th, table td {
        border-bottom: 1px solid;
        padding: 20px;
        min-width: 120px;
        min-height: 60px;
        text-align: center;
    }
    table .title {
        font-size: 90px;
        padding-top: 50px;
        border-right: 1px solid #9c9c9c;
    }
    table th:first-child,  table td:first-child {
        width: 100%;
        border-right: 1px solid;
        padding-left: 0px;
        text-align: left;
    }
    table .start-table .title {
        text-align: left;
        padding-top: 20px;
        border-right: 0px;
    }
    .topic {
        position: relative;
        border-bottom: 3px solid #9c9c9c;
    }
    table .last * {
        border-bottom: 0px
    }
    .bar-end{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 150px;
        font-family: 'HelloBranch';
        margin-top: 50px;
    }
}

@media screen and (max-width: 991px) {
    body {
        font-size: 16px;
    }
    .bar{
        padding: 50px 0px;
        .title {
            font-size: 80px;
        }
        .small-title {
            font-size: 20px;
        }
        table td:first-child, table th:first-child {
            padding-left: 0px;
            width: 100%;
            border-right: 1px solid;
            text-align: left;
        }
        table td, table th {
            padding: 5px;
            min-width: 60px;
        }
        table .title {
            font-size: 60px;
        }
        .bar-end{
            font-size: 100px;
        }
    }
}
@media screen and (max-width: 768px) {
    .bar{
        .container{
            padding: 0px 50px;
        }
        .title-with-line span {
            padding: 0px 15px;
        }
        table .title {
            font-size: 40px;
            padding-top: 30px;
        }
        table td, table th {
            padding: 5px;
            min-width: 60px;
            vertical-align: bottom;
        }
        .bar-end{
            font-size: 60px;
        }
    }   
}
@media screen and (max-width: 576px) {
    .bar{
        padding: 25px 0px;
        .container{
            padding: 0px 25px;
        }
        .bar-end{
            margin-top: 25px;
            font-size: 40px;
        }
    }
}